OPENAI_API_KEY=SUA_API_KEY_DA_OPENAI (Ollama, Nvidia, etc)
OPENAI_API_BASE=https://api.openai.com/v1 (Ou a URL do seu provedor, se não for OpenAI)
QDRANT_URL=SUA_URL_DO_QDRANT_CLOUD (Ou a URL do seu servidor Qdrant, se estiver hospedando localmente)
QDRANT_API_KEY=SUA_API_KEY_DO_QDRANT